.main

  &__container
    display: grid
    align-items: center

    @include mq-lg
      grid-template-columns: 1fr 1fr
      gap: 18rem

  &__image
    padding: 3rem

    @include mq-md
      padding: 5rem

    @include mq-lg
      grid-row-start: 1
      grid-column: 2 / 3
      padding: 0
    
    &__info
      @include mq-lg
        grid-row-start: 1
        grid-column: 1 / 2

  &__title
    text-align: center

    @include mq-lg
      text-align: left

  &__button
    margin: 4rem auto
    display: block
